<div class="slider">
    <ul class="slides">
      <li>
        <img src="../../assets/burgerking.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3>les magasins en vogue hein</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../../assets/burgerking.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src=""> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../../assets/burgerking.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
</div>
<!-- 
<div class="row">
  <div class="col s12 m4 l3 offset-l2">
      <button class="btn waves-effect waves-light" type="submit" name="action">Ajout de Magasin
          <i class="material-icons right">store</i>
      </button>
  </div>

  <div class="col s12 m4 l3 ">
      <button class="btn waves-effect waves-light" type="submit" (click)="YourArticles()"  name="action">Voir vos articles
          <i class="material-icons right">send</i>
      </button>      
    </div>

    <div class="col s12 m4 l3 ">
        <button class="btn waves-effect waves-light" type="submit" (click)="addArticle()" name="action">Ajout d'articles
            <i class="material-icons right">add_circle_outline</i>
        </button>
      </div>
</div> -->
