<div class="row">
    <button class="btn waves-effect waves-light col s5 m2 l2 offset-s0 offset-m7 offset-l7" type="submit" name="action" (click)="toggleService($event)">Services
        <i class="material-icons right">visibility</i>
      </button>
    <button class="btn waves-effect waves-light col s5 m2 l2 offset-s0 offset-m7 offset-l1" type="submit" name="action" (click)="toggleService($event)">Ajouter
        <i class="material-icons right">note_add</i>
      </button>
</div>

<div class="row" *ngIf="!visible">
    <h3 class="center">Vos services</h3>
</div>
<div class="row" *ngIf="visible">
  <app-add-services></app-add-services>
</div>
