<div class="row " >
  <div class="card col s9 m8 l6 offset-s1 offset-m2 offset-l3 z-depth-5">    
    <div class="card-content">
        <span class="card-title  text-darken-4 center">Rehercher</span>           
        
        <form class="row">

          <div class="input-field col s11">
              <i class="material-icons prefix">domaine</i>
              <select>              
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>     
              <label>Domaine</label>         
            </div>

            <div class="input-field col s11">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Autocomplete</label>
              </div>

              <button class="btn waves-effect waves-light col s5 offset-s3" type="submit" name="action">Lancer
                <i class="material-icons right">search</i>
              </button>
        </form>

    </div>    
  </div>
</div>

<app-dash-place></app-dash-place>
